.marvel {
  background-color: #5cb85c;
  color:#ffffff;
}

.dc {
  background-color: #428bca;
  color:#ffffff;
}

.independent {
  background-color: #5bc0de;
  color:#ffffff;
}

.picture img {
  width: 300px;
}
